In [1]:
from binance.client import Client

In [2]:
api_key = "oaC26VRtbUGCw4uLXukpPcwuOHjarI37psYKKwBUQXf1ysr4wewQGWgJbDzCiZnn"
api_secret = "gpQU2LK785lCoqPfDLAEdqT6ka2k2Y8P1gEiySa0zKHMVSFQmeWbdNyqC3rxQoX7"
client = Client(api_key, api_secret)

In [25]:
symbols = ['BTCUSDT', 'ETHUSDT', 'XRPUSDT', 'ADAUSDT', 'DOGEUSDT','EOSUSDT','XLMUSDT','MATICUSDT','SOLUSDT','NEOUSDT','LINKUSDT','NEOUSDT','LTCUSDT','TRXUSDT','ATOMUSDT','UNIUSDT','NEOUSDT','VETUSDT','DOTUSDT','NEARUSDT']
interval = Client.KLINE_INTERVAL_1HOUR

In [7]:
start_date = '1 Apr, 2021' 
end_date = '1 Apr, 2023'

In [14]:
import pandas as pd

In [26]:
data = []

for symbol in symbols:
    klines = client.get_historical_klines(symbol, Client.KLINE_INTERVAL_1HOUR, start_date, end_date)
    df = pd.DataFrame(klines, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
    df = df[['timestamp', 'close']]
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
    df.set_index('timestamp', inplace=True)
    df.columns = [symbol]
    data.append(df)

In [27]:
df = pd.concat(data, axis=1)

In [28]:
df

,BTCUSDT,ETHUSDT,XRPUSDT,ADAUSDT,DOGEUSDT,EOSUSDT,XLMUSDT,MATICUSDT,SOLUSDT,NEOUSDT,LINKUSDT,NEOUSDT,LTCUSDT,TRXUSDT,ATOMUSDT,UNIUSDT,NEOUSDT,VETUSDT,DOTUSDT,NEARUSDT
timestamp,,,,,,,,,,,,,,,,,,,,
2021-04-01 00:00:00,59221.95000000,1932.38000000,0.57148000,1.19440000,0.05390640,4.87340000,0.40786000,0.36312000,19.44330000,52.24000000,29.73460000,52.24000000,199.45000000,0.08855000,19.28600000,28.47510000,52.24000000,0.08836600,36.61670000,6.04900000
2021-04-01 01:00:00,59143.72000000,1939.81000000,0.57949000,1.19015000,0.05418410,4.79410000,0.41375000,0.36314000,19.48980000,52.12300000,29.83300000,52.12300000,198.92000000,0.08804000,19.11900000,28.65780000,52.12300000,0.08716800,36.46960000,5.96130000
2021-04-01 02:00:00,59086.99000000,1925.40000000,0.57712000,1.19127000,0.05417860,4.78190000,0.41279000,0.37621000,19.57970000,51.19000000,29.65910000,51.19000000,198.36000000,0.08643000,19.01400000,29.22220000,51.19000000,0.08920600,36.40710000,5.90110000
2021-04-01 03:00:00,59119.02000000,1922.80000000,0.57300000,1.18779000,0.05407270,4.73720000,0.41065000,0.37127000,19.74600000,51.05400000,29.68840000,51.05400000,197.50000000,0.08812000,19.08100000,28.95000000,51.05400000,0.09045000,36.35100000,5.92510000
2021-04-01 04:00:00,58869.99000000,1915.92000000,0.57166000,1.19403000,0.05393570,4.80740000,0.41008000,0.37570000,20.16030000,51.75100000,29.57890000,51.75100000,196.25000000,0.08570000,19.17100000,28.83300000,51.75100000,0.09086700,36.54450000,5.94920000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31 20:00:00,28391.80000000,1817.70000000,0.54440000,0.40270000,0.07687000,1.19700000,0.11070000,1.11440000,20.85000000,12.47000000,7.63400000,12.47000000,89.59000000,0.06583000,11.08300000,6.05400000,12.47000000,0.02335000,6.31700000,1.99800000
2023-03-31 21:00:00,28477.19000000,1824.26000000,0.54130000,0.40450000,0.07651000,1.19900000,0.11050000,1.11830000,21.01000000,12.55000000,7.62200000,12.55000000,89.88000000,0.06589000,11.16900000,6.07300000,12.55000000,0.02344000,6.31900000,2.00100000
2023-03-31 22:00:00,28570.31000000,1826.34000000,0.53890000,0.40130000,0.07772000,1.19700000,0.11140000,1.11800000,21.40000000,12.66000000,7.65700000,12.66000000,90.02000000,0.06582000,11.18600000,6.07300000,12.66000000,0.02359000,6.32700000,2.00100000
2023-03-31 23:00:00,28465.36000000,1821.52000000,0.53740000,0.39890000,0.07695000,1.19600000,0.11220000,1.11760000,21.16000000,12.61000000,7.58800000,12.61000000,89.57000000,0.06553000,11.18800000,6.06200000,12.61000000,0.02346000,6.34300000,1.99000000
2023-04-01 00:00:00,28438.27000000,1822.85000000,0.53320000,0.39520000,0.07713000,1.19300000,0.11220000,1.11620000,21.16000000,12.49000000,7.57000000,12.49000000,89.58000000,0.06559000,11.16400000,6.06400000,12.49000000,0.02351000,6.35200000,1.99200000

In [29]:
df = pd.DataFrame(df)

In [30]:
df.to_csv('Historical_data.csv')